[2021-06-17 16:00] nw13slx opened #45 "🐛 [BUG] Compatibility with torch1.9, geometric1.7, e3nn 0.3.2"
**Describe the bug**
torch.jit.script cannot take dict for typing.Dict .

**To Reproduce**
Unit test tests/data/test_AtomicData.py::test_non_periodic_edge  will fail with pytorch1.9 and torch_geometric 1.7

**Environment (please complete the following information):**
 - OS: Fedora
 - python version 3.8.8
 - python environment:
   - nequip version 0.3.2
   - e3nn version 0.3.2
   - pytorch version

[2021-06-21 17:17] nw13slx commented on #45
In the #46 pull, there are some warning messages linked to opt_einsum_fx

[code]

[2021-06-21 17:25] nw13slx commented on #45
without pull #46 ,  with the unit test in the development branch will fail at tests/data/test_AtomicData.py::test_non_periodic_edge with error message:

[code]

[2021-06-21 17:28] nw13slx commented on #45
following the previous set up, another error will show up at tests/data/test_AtomicData.py::test_without_nodes

[code]

[2021-06-23 16:27] albertzhu01 opened #52 "Installing nequip issue"
**Describe the bug**
After installing nequip using pip install ., running nequip-train configs/minimal.yaml results in an error: ModuleNotFoundError: No module named 'nequip.scripts'.

**To Reproduce**
pip install . after cd nequip. Then run nequip-train configs/minimal.yaml (or any other config file).

**Expected behavior**
Training is supposed to begin.

**Environment (please complete the follow

[2021-06-28 21:22] Linux-cpp-lisp commented on #45
op_einsum_fx issues are resolved

[2021-06-29 17:07] Linux-cpp-lisp commented on #45
Other fixes merged

[2021-06-29 17:07] #45 closed

[2021-06-29 17:35] #52 closed

[2021-08-20 09:22] keano130 opened #67 "Max Recursion Depth🐛 [BUG]"
**Describe the bug**
In training a nequip neural network on molecules of 304 atoms, the training starts normal but after a while (around 840) epochs I get the following error.
[code]

**To Reproduce**
I am still trying to create a minimal working example, this error only happens after training for 10 hours at the moment.

**Environment (please complete the following information):**
 - OS: Ubuntu

[2021-08-20 10:25] keano130 commented on #67
I found that training on a set of 10 configurations, the error occurs after 780 epochs (around 18 min),
my gpu is NVIDIA GeForce GTX 1050 Ti.

In the zip are the data and the config file used to get the error

[Runtime_error_small.zip](https://github.com/mir-group/nequip/files/7020853/Runtime_error_small.zip)

[2021-08-20 15:59] Linux-cpp-lisp commented on #67
Hi @keano130 ,

Thanks for reaching out!

This is very strange. We've seen this in our group only once before and I assumed it was some kind of corruption, but if you've seen it in a different computing environment it's definitely not.

@Nicola89 could you post your version information from when you saw this so we can compare to @keano130's?

At this point I don't really have any suspicions about

[2021-08-20 16:12] Nicola89 commented on #67
Sure! When I encountered this error I was using the following env:

python=3.8.11
cudatoolkit=11.1.74
pytorch=1.9.0 (cu111)
pytorch-geometric=1.7.2
e3nn=0.3.3
nequip=0.3.3

I can also export and attach here the conda env if that is helpful. I concur with @keano130 about when the bug happens, i.e., deep in the training. I am attaching the error file of the test aspirin run where this happened.
[rec

[2021-08-20 16:23] Linux-cpp-lisp commented on #67
Were either of you running under `wandb`, and if you were, could you check the GPU & system memory consumption?

One possibility is that this is a memory leak leading to an eventual OOM error that just isn't very informative, since `new_zeros` is an alloc... although in that circumstance you wouldn't expect it to consistently fail on this `new_zeros`...

[2021-08-23 07:48] keano130 commented on #67
I was running wandb, both GPU and system memory consumption were far from the maximum consumption in my case.

[2021-08-23 08:04] keano130 commented on #67
After the error, it is possible to just restart the training, and it trains normally until after around 800 more epochs, where it fails again.

[2021-08-23 14:14] keano130 opened #69 "🌟 [FEATURE] Stress tensor"
**Is your feature request related to a problem? Please describe.**
In order to execute npt-simulations, the stress of the system is needed, I wonder if it is possible to implement the option to calculate the stress. To calculate this stress, the derivative of the energy wrt the cell is needed,  In evaluation mode however, the model does not store the gradients and therefore, this value can not be

[2021-08-23 15:03] Linux-cpp-lisp commented on #67
interesting, thanks for the info @keano130. Does it fail in the exact same way, exact same stack trace?

A workaround _appears_ to be enabling `compile_model: True` in your config. This compiles the model down to TorchScript for training. (Please note that if you do this the trained model file is somewhat less flexible / useful, since you can't go poking around in the Python module tree later, alt

[2021-08-23 15:24] Linux-cpp-lisp commented on #69
Hi @keano130 ,

This should not be too hard to implement; the main thing is adding the displacement. (Since our edge vectors are calculated from `positions + cell @ periodic_image_number`, they should be connected correctly in the autograd graph to `displacements` if it is added to both `positions` and `cell`.)
This, and indicating to `GradientOutput` that a cell must be present, can be done in a

[2021-08-24 09:22] keano130 commented on #69
Thank you for the quick response, I am definitely willing to help test it.

[2021-08-24 09:36] keano130 commented on #67
It is always the exact same stack trace, the number of epochs before the error occurs is variable.

Thank you for the workaround, but as restarting works, I think I'll keep the flexibility of the training model file, for now I stop most runs before 800 epochs anyhow.

[2021-08-24 12:45] tbraeckevelt opened #73 "Huge bumps in learning curves"
Dear developers

I have a problem while training the MLP. I get large bumps for the MAE of the forces. I know that it is not unusual to get some bumps while training, but usually the error goes back to the original value before the bump, quite fast. This is does not happen, it takes a few hours and in certain cases a new bump occurs befor reaching the old optimal error. See for example the figure

[2021-08-24 14:26] Nicola89 commented on #67
Update on my side: restart gives the same problem after a similar number of epochs (2923 vs 2964).

[2021-08-24 15:33] #73 closed

[2021-08-24 15:48] Linux-cpp-lisp commented on #69
@keano130 check out the https://github.com/mir-group/nequip/tree/stress branch, which contains a first stab at an implementation (untested so far)

[2021-08-24 18:54] Linux-cpp-lisp commented on #69
Added some basic tests, the model does run and produce numbers for the stress when PBC are used. (See `minimal-stress.yaml`.) Whether they're reasonable I can't really say.

One thing I'm not sure about is the multiplication conventions at https://github.com/mir-group/nequip/blob/stress/nequip/nn/_grad_output.py#L187. I had to modify them from the `schnetpack` version, particularly for the positio

[2021-08-25 18:42] keano130 opened #76 "🌟 [FEATURE] Missing features for OpenMM support (neighborlist, etc.)"
**Is your feature request related to a problem? Please describe.**
I would like to do long md simulations using OpenMM, with https://github.com/openmm/openmm-torch it is possible to add forces to a model using a Torchscript. However, the input has to be the positions+box_vectors.
To this end, the neighborlist calculations should be included in the Torchscript module.

**Describe the solution you'd

[2021-08-30 07:38] svandenhaute commented on #76
I would gladly contribute! I'm pretty busy with other stuff in the next few weeks but I will give it a try afterwards.

[2021-08-30 14:13] Linux-cpp-lisp commented on #76
Great, thanks @svandenhaute !  We can continue discussion and track progress here in this issue.

[2021-09-30 09:15] davidleocadio opened #83 "🐛 [BUG] Fail to restart and append: 'Trainer' object has no attribute 'iepoch'"
**Describe the bug**
After specifying that _restart: True_ and _append: True_ in the _.yaml_ I get the following error
[code]

Looking through your code it seems like the  method _from_dict_ ( which is part of the Trainer class) isn't called. This method is where the variable _iepoch_ is called. I'm not sure how to fix this myself. What I'm looking at is _/nequip/train/trainer.py_, btw.
~

**To Re

[2021-10-04 17:49] davidleocadio commented on #83
Hi @simonbatzner. I was training my networks using the procedure and code outlined in the [Developer's Tutorial](https://deepnote.com/project/NequIP-Tutorial-JBLKk3rRRFiXLF1a3Vpmfg/%2Ftutorial_.ipynb), and I was under the impression I could keep training the networks that way and simply modify the _config.yaml_ with _requeue: True ; append: True_

But now I realize it's meant to work by training t

[2021-10-04 17:49] #83 closed

[2021-10-06 21:35] kkly1995 opened #88 "TypeError when reading ASE dataset"
**Describe the bug**
Using an ASE dataset for `configs/minimal.yaml` instead of npz results in the following:
[code]

**To Reproduce**
I just took `configs/minimal.yaml` and modified just the data part:
[code]
where `aspirin_ccsd-train.xyz` is from [here](http://quantum-machine.org/gdml/#datasets) (I assume the .npz is the same dataset?).

**Expected behavior**
As is, `configs/minimal.yaml` works

[2021-10-07 02:02] Linux-cpp-lisp commented on #88
Hi @kkly1995 ,

This error usually comes up when a key that you try to compute statistics over — usually the energy or force when computing normalization constants — isn't in your dataset.

Can you run `python -m pdb nequip/nequip/scripts/train.py path/to/minimal.yaml` and run `p field` when it catches on this error?

Thanks.

[2021-10-08 22:08] kkly1995 commented on #88
It is true that I previously had a smaller dataset of the same name `subset.xyz` which had only 100 frames, which I since removed from this directory. The error reported above is after I replaced it with the larger dataset. I deleted `results/LaH/minimal` before rerunning but I also noticed there is `results/LaH/processed`. Just now I removed all these directories, it was able to successfully read

[2021-10-09 02:17] #88 closed, assigned to nobody

[2021-10-11 08:49] leoil opened #89 "🌟 [FEATURE] Multi-system dataset support & atomic charges/dipoles prediction"
**Is your feature request related to a problem? Please describe.**
 The trained model shows great performance on dataset with single system like MD17. I'm wondering if it also support the  training&fitting on dataset with multiple systems.

I removed `npz_fixed_field_keys`  in the config file and  run a quick test on the [`sn2-reaction`](https://zenodo.org/record/2605341) dataset used in PhysNet,

[2021-10-13 01:18] Linux-cpp-lisp commented on #88
Worth noting that this issue of cached processed versions of datasets getting out of sync with your dataset settings is resolved in the current beta version. However, that does _not_ include if you change the actual data file that is read from— we don't want to waste time reading it just to check if something has changed, so you _are_ responsible still for making sure that you reprocess if you cha

[2021-10-13 12:06] leoil commented on #89
Thanks for your response.

1. I modified your snippet to construct the sn2 extxyz dataset. However, when I run a fresh start with this dataset, an error occurs when building neibor_list for this frame.

[code]

[code]

   I tried to set a larger r_max (` r_max = 20.0`) , and everything works fine (the default cutoff in PhysNet is `10.0`). However, when I set `self_interaction = True` , the results

[2021-10-15 03:14] leoil commented on #89
Yes, that make sense. Thanks for your detailed guide, I'll give it a try.

[2021-10-25 12:43] svandenhaute opened #92 "❓ [QUESTION] Train models in single precision, but evaluate them in double precision"
Is it possible to train models in single precision, but deploy them in double precision? I'm trying to use my single-precision-trained models to compute some finite differences, and this is typically only possible when the output of the models uses double precision.

[2021-10-28 11:54] #92 closed, assigned to nobody

[2021-11-10 19:38] goxeq opened #103 "❓Installation instructions for pytorch-geometric"
In the Installation section in https://github.com/mir-group/nequip/blob/main/README.md,
there is a link to installation instructions of pytorch-geometric (https://pytorch-geometric.readthedocs.io/en/latest/notes/installation.html), which points to the instructions for the current version and not the 1.7.2, which is required by nequip.

I suggest you consider changing the link to the instructions f

[2021-11-11 16:55] #103 closed

[2021-11-11 16:56] Linux-cpp-lisp commented on #103
thanks for pointing this out @goxeq !

[2021-11-29 05:23] sghosh123 commented on #76
It would also be helpful, if we can at least access the platform specific neighborList itself. Just a class to access the neighbor lists  in the API with platform as its argument will do.

[2021-11-29 14:23] svandenhaute opened #114 "❓ [QUESTION] Merge stress support into master"
I've been using the stress branch for quite some time and I haven't experienced any issues with it so far. I was wondering whether it is possible to merge this functionality in the master branch?

[2021-11-29 19:12] Linux-cpp-lisp commented on #114
Hi @svandenhaute ,

Thanks for the reminder about this, glad to hear that it's been working for you. If I remember correctly, you had tested the `stress` branch and confirmed that the implementation of stress was giving sane answers?

Things are quite busy right now but I will try to get `stress` merged into the latest unstable `develop` as soon as I can; it shouldn't be too complicated. That way

[2021-12-06 08:53] schiotz opened #121 "🐛 [BUG] TorchScript error"
**Describe the bug**
I am trying to reproduce the MRS2021 tutorial, but with the ASE interface.  It worked in the colab notebook, but I get a TorchScript error when I try to install on our cluster here at DTU Physics.  Nequip is installed into a venv from the developer branch with ``pip -e nequip/``.  PyTorch is installed on the cluster using EasyBuild, it is version 1.9.0 built with the foss/2020

[2021-12-06 11:39] pdobbelaere opened #122 "❓ [QUESTION] Dataset preprocessing computation times"
Hi,

I'm experiencing some weird behaviour with the dataset preprocessing step. Depending on specific combinations of lattice vectors and pbcs, this preprocessing can take an unexpected amount of time. To frame the following, I'm extracting clusters of atoms from periodic UiO-66.

Three different (very small) datasets in the added zip-file nicely illustrate this:
- 'clusters_a.xyz' contains 10 clu

[2021-12-06 20:40] simonbatzner commented on #122
Hi @pdobbelaere, I loaded your structures and ran the ASE neighborlist calculation that we use internally. I can confirm that I see the same behavior:

A: PBC + cell are set, the neighborlist is aware of periodic images but since the cell is large never sees them, all is fine
B: PBC is false, cell is set, much slower.
C: PBC is false, cell is not there, this is equivalent to A since the cutoff is

[2021-12-07 08:22] pdobbelaere commented on #122
Thanks very much for the speedy reply. That is good to know.

[2021-12-07 08:22] #122 closed

[2021-12-07 09:11] schiotz commented on #121
Follow-up:  I updated to PyTorch 1.9.1, same error.

[2021-12-07 13:29] schiotz commented on #121
Follow-up 3:

This is neither related to our GPUs, nor to having PyTorch installed with EasyBuild.

I tried it out on another cluster with NVIDIA TITAN Xp gpus, and with python and pytorch installed with ``conda``.  Same result.

[2021-12-07 14:34] schiotz commented on #121
**PROBLEM SOLVED:**

I think it is a documentation problem.  According to the main page (README.md), "NequIP is also not currently compatible with PyTorch 1.10; PyTorch 1.9 can be specified with pytorch==1.9 in the install command."

It looks like PyTorch 1.9 is the problem, upgrading to 1.10.0 is solving the issue.

[2021-12-08 21:31] Linux-cpp-lisp commented on #121
Hi @schiotz —

Wow! You were busy working on a solution before I even got a chance to respond, really appreciate it!

This is something we've seen before and it's the result of a [PyTorch bug](https://github.com/pytorch/pytorch/issues/63923) (one that frankly I'm amazed didn't get surfaced and fixed sooner). The bug is fixed in 1.10.

Unfortunately, the version stuff in the README is not actually

[2021-12-09 08:46] schiotz commented on #121
Thanks for your comments, it makes a lot of sense.

Depending on large third-party packages saves a lot of work, but occasionally gives a bit of trouble when bugs and incompatibilites are introduces - we run into the same kind of issues with ASE, so I fully understand the situation. :-)

[2021-12-12 19:54] simonbatzner commented on #121
Closing this, thanks @schiotz!

[2021-12-12 19:54] #121 closed

[2021-12-17 21:23] Linux-cpp-lisp commented on #114
Hi @svandenhaute:

I've implemented stress in a much more complete way in this PR: https://github.com/mir-group/nequip/pull/119 (which is a branch off of our latest `develop`).
We'll be merging this as soon as we finish some internal testing to confirm that everything works as intended, but wanted to let you know as our "beta user" for stress.

Please let me know if you have any issues or thoughts

[2021-12-17 21:25] Linux-cpp-lisp commented on #69
Hi @keano130 ,

Wanted to let you know that stress is now being implemented in the `stress-develop` branch off of the latest `develop` — see PR https://github.com/mir-group/nequip/pull/119. We hope to merge this soon after some more testing. The interface is similar to the previous `stress` branch, but is cleaned up and updated to be based on the latest code.

[2021-12-21 09:09] svandenhaute commented on #114
Cool, thanks! I'm also rather busy for the next few weeks but I'll give it a try as soon as possible and report back.

[2021-12-22 00:18] Linux-cpp-lisp commented on #114
Great, thanks @svandenhaute --- no rush, and I'll let you know here when we merge it so you can test from the correct branch.

[2022-01-19 13:54] peppe69 opened #136 "❓ [QUESTION]"
Hi,
we are trying to train a model using a dataset in the format extxyz, which contains cells of bcc iron.
Here a sample of a cell:

[code]

Since cells of different dimensions are present (mainly 1, 54 and 128 atoms cells), energies are very different.
We obtain a validation MAE on e/N of about hundreds of meV at the end of the training, and bad performance when using the model to predict atomic

[2022-01-20 18:29] tbraeckevelt opened #140 "🐛 [BUG] Problem with nequip_calculator in ASE"
When I try to run a MD NVT simulation with a deployed nequip model using ASE, a get the following error:

[code]

I use the following code to create the nequip calculator:
[code]

I have installed nequip and other libraries with the following commands (I was using remote computing infrastructure for which Python 3.8.6 and CUDA 11.1.1 were already installed):
[code]

With this installation, I was a

[2022-01-20 19:40] Linux-cpp-lisp commented on #140
Hi @tbraeckevelt ,

Thanks for your interest in our code!

This is a known issue upstream in PyTorch-- see discussion on [another NequIP issue here](https://github.com/mir-group/nequip/issues/121#issuecomment-989212636).

Long story short: upgrading to PyTorch 1.10 where the underlying issue is fixed should resolve this.

[2022-01-20 19:43] Linux-cpp-lisp commented on #140
(Unrelated: I noticed in your config that you have set `allow_tf32: true`--- please note that we do not at this point recommend this as we have not yet fully understood the impact of reduced TF32 precision on the model or, in particular, its equivariance. If you have a reason to set this it should be fine, but if it somehow got set by accident you probably want it set to `False`.)

[2022-01-25 15:14] Linux-cpp-lisp commented on #140
@tbraeckevelt great, glad to hear. And no worries this is a pretty odd error message to look up.

Closing this, feel free to open a new issue/discussion if you have other questions!

[2022-01-25 15:14] #140 closed

[2022-02-04 10:45] svandenhaute commented on #114
@Linux-cpp-lisp what's the status on this? Is the stress-develop branch OK for me to start testing with? Will it be included in the next release?

[2022-02-04 15:49] simonbatzner commented on #114
Hi @svandenhaute, I have been stress-testing (badum-tss) the stress-develop branch and everything is working very well, I can get low stress errors! Go ahead and start using it. Yes, this will be included in the next release

(cc'ing @Linux-cpp-lisp to confirm)

[2022-02-04 15:56] Linux-cpp-lisp commented on #114
Yep @svandenhaute! I hadn't merged yet because I had been waiting for @simonbatzner to finish his tests, but they are all looking good so far as he says so I will merge it to `develop` when the rest are done.

I've been regularly merging `develop` into `stress-develop`, so it should be safe to use `stress-develop` as-is, and yes, I plan to merge this before the next release. Thanks!

[2022-02-06 01:48] deleep225 opened #151 "lammps Installation problem❓ [QUESTION]"
I am able install nequip, lammps and torch separately.
when i try to patch and reinstall the lammps i got the following error.
how to solve it ?

CMake Error in CMakeLists.txt:
  Target "lammps" contains relative path in its
  INTERFACE_INCLUDE_DIRECTORIES:

    "MKL_INCLUDE_DIR-NOTFOUND"

CMake Error in CMakeLists.txt:
  Target "lammps" contains relative path in its
  INTERFACE_INCLUDE_DIRECTORIE

[2022-02-08 19:14] simonbatzner commented on #151
Closing this since Deleep in personal communication reported this was not an issue anymore.

[2022-02-09 02:46] chenruduan commented on #151
Hi @deleep225 @simonbatzner, Could any of you weigh in about the reasons/solutions for this? I think I am having the exact same issue on Mac. It seems it misses some MKL libs but I am not sure. Thanks!

[2022-02-09 03:30] deleep225 commented on #151
Hi Chenru,
you need to install mkl libraries.
After installing my libraries were installed in the path below.
-DMKL_INCLUDE_DIR=/usr/include/

command for installation
cmake ../cmake -DCMAKE_PREFIX_PATH=`python -c 'import
torch;print(torch.utils.cmake_prefix_path)'` -DMKL_INCLUDE_DIR=/usr/include/

On Tue, Feb 8, 2022 at 6:47 PM Chenru Duan ***@***.***> wrote:

[2022-02-09 05:00] simonbatzner commented on #151
Hi @chenruduan, yes, just like @deleep225 said, you need to install the MKL libraries, on my system it was

[code]

and then set it in the cmake command, so first get the dir where `mkl.h` lives:

[code]

and then set:

[code]

Let me know if that works.

[2022-02-09 18:26] chenruduan commented on #151
@simonbatzner @deleep225 Thank you both! With that, I got the configuration step passed!

[2022-02-11 01:05] #151 closed

[2022-03-08 10:06] n0w0f opened #174 "❓ [QUESTION] Error while using potential in lammps. RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn"
Lammps runs and terminate after sometim

terminate called after throwing an instance of 'std::runtime_error'
  what():  The following operation failed in the TorchScript interpreter.
Traceback of TorchScript, serialized code (most recent call last):
  File "code/__torch__/nequip/nn/_grad_output.py", line 34, in forward
      _6 = [torch.sum(data0[of])]
      training = self.training
      grads =

[2022-03-08 15:50] Linux-cpp-lisp commented on #174
Hi @n0w0f ,

can you please include more information about your setup, what you are doing, and in particular anything you are doing differently from our tutorial on Colab (which includes using LAMMPS?):  https://bit.ly/mrs-nequip

Thanks.

[2022-03-08 21:28] Linux-cpp-lisp commented on #174
Does your model not have forces?

[2022-03-09 06:00] n0w0f commented on #174
Hi,
Thanks for replying. I trained the nequip model on  LiPS system, then deployed the model to lammps pair potential following the steps in the repo. Sorry, but I couldn't understand your question if my model include forces. while training the model, error on forces were also printed, I was assuming the loss function accounted for loss in forces also.

I was able to do some nvt and npt run in lam

[2022-03-09 15:31] Linux-cpp-lisp commented on #174
Does the same happen if you run NVE instead? `pair_nequip`/`NequIP` does not yet support stress/pressures (although we are working on this).

[2022-03-10 12:05] n0w0f commented on #174
I just checked and it is running for NVE.
NVT and NPT simulations are throwing this error

[2022-03-10 16:10] Linux-cpp-lisp commented on #174
Hm strange.

@n0w0f can you please re-download `pair_nequip` (https://github.com/mir-group/pair_nequip), recompile LAMMPS, and try again? There have recently been some bugfixes in that code and I'd like to see if that fixes anything.

(There is also now a test suite you can run using `LAMMPS=/path/to/lmp pytest tests/test_python_repro.py` that might catch if something strange is happening with you

[2022-03-27 04:54] deleep225 opened #184 "🌟 [FEATURE] supporting multiple dataset with vasp OUTCAR"
**Is your feature request related to a problem? Please describe.**
Im trying to train the vasp output of two different systems (same solvent different solutes).

I have combined the two OUTCAR files with cat command and tried to train the data and got the following error.

Traceback (most recent call last):
  File "/data/home/reddy/anaconda3/lib/python3.8/site-packages/nequip/utils/auto_init.py",

[2022-03-28 07:07] n0w0f commented on #174
I am not able to patch again , this is the error
This LAMMPS installation _seems_ to already have been patched; please check it!

Does this mean I will have to reinstall lammps also ?

[2022-03-28 14:31] anjohan commented on #174
You should be able to just copy over the new versions of `pair_nequip.*` to `lammps/src` and recompile.

[2022-03-29 07:03] n0w0f commented on #174
still throwing error after a few steps.
  12000    562.82347   -194.29045    1592.4506  0.088469476    0.0882611
   13000    501.99754   -209.43966     1857.947  0.095279334  0.095544385
   14000    527.60939   -203.14628    2165.5968   0.10312366    0.1028188
   15000    548.95605    -197.8667    2480.3974   0.11023988   0.11015785
terminate called after throwing an instance of 'std::runtime_erro

[2022-04-06 16:13] PythonFZ opened #192 "🌟 [FEATURE] `utils.config` as dataclass?"
**Is your feature request related to a problem? Please describe.**
Whilst using nequip myself I was going through the code to better understand the parameter handling.
I'm not using `wandb` but [DVC](https://dvc.org/) with [ZnTrack](https://github.com/zincware/ZnTrack) and therefore, I'm currently using two nested subprocess calls (The first is DVC, the second is in ZnTrack). I was looking for a w

[2022-04-06 19:40] Linux-cpp-lisp commented on #192
This is definitely doable, but make sure as you said to call `train.main` and not try to call `Trainer` itself.
Also, unless it really messes with your workflow, I would encourage you to just spawn `nequip-train` processes using `subprocess` and `tempfile` rather than calling direct into the Python API. While I can't think of anything in particular that would break, `nequip-train` is really intend

[2022-04-07 11:26] PythonFZ commented on #192
To not run into issues if there are some changes I will also stick to that.

I saw that it represents the `wandb.config` object which is used in a very similar way.
I guess I just missunderstood the usage of it.

[2022-04-07 11:26] #192 closed

[2022-04-10 21:25] wuziqi-cmu opened #196 "🌟 [FEATURE] Add conda installation support"
**Is your feature request related to a problem? Please describe.**
The only way right now seems to be to download the repo and install nequip local using pip. However, mixing conda and pip in a conda virtual environment risks messing up packages installed by those two package managers.

**Describe the solution you'd like**
It would be awesome if you guys can add support for conda installation.

**

[2022-04-11 00:34] Linux-cpp-lisp commented on #196
@wuziqi-cmu thanks for your interest in our code!

Hosting on PyPI is definitely in our plans, making NequIP available by conda is however not something we are going to consider at this point. Because NequIP itself is a pure Python package, I don't see many advantages and it seems from what I've seen to be a significant investment of effort.  If you or anyone else as a user wants to volunteer to m

[2022-04-11 20:00] wuziqi-cmu commented on #196
@Linux-cpp-lisp Thanks for the quick reply!

Yes, there's no issue yet, and more of an issue of best practices for me. It would be nice if you guys can host it on PyPI!

[2022-04-11 20:00] #196 closed

[2022-04-12 08:52] PythonFZ opened #198 "metrics files contains column names with leading blank space"
The `*.csv` files contain a blank space before the key value.
E.g. reading them in with pandas requires to add this blank which can be confusing for people not using `wandb`.

[code]

Would it be possible to change the header formatting found in the following lines to not contain the leading blank space?
https://github.com/mir-group/nequip/blob/eb6f9bca7b36162abf69ebb017049599b4ddb09c/nequip/train

[2022-04-12 15:46] Linux-cpp-lisp commented on #198
Fixed in https://github.com/mir-group/nequip/pull/199/commits/8e8339cd0eb5b89eb5ef1dbb95641022c68e388f

[2022-04-13 02:27] Linux-cpp-lisp commented on #196
@wuziqi-cmu I've released the latest NequIP version to PyPI; future versions should release to their automatically. (https://pypi.org/project/nequip/)

Could you test installing from `pip` and let me know if it works?

[2022-04-13 02:27] Linux-cpp-lisp commented on #198
The fix is merged and released in 0.5.4. Let me know if it resolves your issue!

[2022-04-13 02:27] #198 closed

[2022-04-14 03:00] Linux-cpp-lisp commented on #114
@svandenhaute @PythonFZ

Just a heads up that I've gone ahead and merged `stress-develop` into `develop` to end the merge hell that's starting to accumulate on that branch. Hopefully this makes it easier to use and test.

That said, **stress support is still very much in beta** and, as the warning I added says, please sanity check your results and let us know if you find things that seem strange o

[2022-04-14 03:01] Linux-cpp-lisp commented on #69
Hi @keano130,

Just a heads up that I've gone ahead and merged the (now much more complete) `stress-develop` branch into develop to end the merge hell that's starting to accumulate on that branch. Hopefully this makes it easier to use and test.

That said, **stress support is still very much in beta** and, as the warning I added says, please sanity check your results and let us know if you find th

[2022-04-14 05:49] svandenhaute commented on #114
Great news, thanks!

I haven't experienced any issues with it so far. On the contrary, I've found that for the systems I study, NequIP is actually able to predict the virial stress to relatively high accuracy (with MAEs typically below 50 MPa).

[2022-04-14 13:13] Linux-cpp-lisp commented on #114
That's great @svandenhaute — one thing I should mention in case (as it sounds like?) you are using `virial` labels and not `stress` ones is that yesterday before merging I changed the sign convention for the predicted virial to
[code]
See https://github.com/libAtoms/QUIP/issues/227. If you want the previous and, as far as I can tell, less standard convention of
[code]
you need to set `virial_alter

[2022-04-15 02:45] Linux-cpp-lisp commented on #76
Re neighborlists in TorchScript, the OpenCatalyst people seem to have something here:
https://github.com/Open-Catalyst-Project/ocp/blob/fe9998ecbe47e7984a5fa833fd9e4684e58b005b/ocpmodels/common/utils.py#L507

I also played with this at one point translating `ase.neighborlist.primitive_neighbor_list` into TorchScript (**almost completely untested, use and fix at your own risk!!!**) and it at least

[2022-04-15 17:25] skaffen-amtiskaw opened #202 "Compilation error"
Hello,

I am getting an error during compilation, apparently with a source file:

/home/akbarshs/lammps/src/pair_nequip.cpp: In member function \u2018virtual void LAMMPS_NS::PairNEQUIP::coeff(int, char**)\u2019:
/home/akbarshs/lammps/src/pair_nequip.cpp:216:35: error: lvalue required as left operand of assignment
   torch::jit::getBailoutDepth() = jit_bailout_depth;

[2022-04-22 11:46] bartdemooij opened #206 "❓ [QUESTION] Training a model to perform Molecular Dynamics simulations on Copper Formate System"
Dear nequip developers,

We recently started training a model on a copper formate system. In essence, it was similar to the system you described in the nequip paper (48 Copper atoms and 1 formate molecule), however we used a slightly bigger system comprising 144 copper atoms and 1 formate molecule.

We generated training data similar to the approach you described, we performed nudged elastic band

[2022-04-22 12:27] nw13slx commented on #206
Hi Jim and Bart,

Yes. I did manage to run MD simulations with my formate model. It is quite a tricky thing to tune and it involves one unpublished feature that I'm writing about. If you don't mind, you can contact us via email and we can chat more on that.

One quick observation is that your force error is on the high end. The C, H, and O are all a little bit too high. It may be worth trying to t

[2022-04-22 12:33] nw13slx commented on #206
And I think Simon did upload our Formate+Cu data, the version of used in the paper. Maybe you can try that dataset. @simonbatzner

[2022-04-22 13:02] simonbatzner commented on #206
A few other comments:

* you're using a time step of `1 fs`, that might be doable but is certainly on the high end for a system containing a C-H bond, I'd  recommend a maximum of `0.5f fs`.
* I would also try to use a bit more of an aggressive thermostat in the first few ps until the temperature has settled, then switch to a more mild one
* regarding thermostats: I think Langevin thermostat is a b

[2022-04-22 14:34] bartdemooij commented on #206
Hi Lixin and Simon,

Thank you for the quick response. The MD simulation looks considerably better now without the unit mismatch.

Also, we observed a weird spike in the validation and training loss plots (taken from w&b). Maybe you know an explanation for this as it looks quite weird to me?
Training Loss:
<img width="325" alt="Screenshot 2022-04-22 at 16 28 23" src="https://user-images.githubuser

[2022-04-22 16:57] simonbatzner commented on #206
Hi Bart, that's good to hear.

Re the spikes, this can sometimes happen in Deep Learning (and is not particular to NequIP). What happens is that during training the network encounters a bad batch which leads to large gradients which leads to a bad step in weight space, causing the network to blow up. Usually this recovers to the loss value it was at before and keeps improving. In your case, it loo

[2022-04-25 09:57] bartdemooij commented on #206
Hi Simon,

Thank you for your explanation. That makes sense.

[2022-04-25 11:35] simonbatzner commented on #206
Converting this to a discussion. Feel free to reach out via email if you have more questions.

[2022-05-06 13:40] mkphuthi opened #209 "🐛 [BUG] Error when trying to use CUDA device with ASE calculator"
**Describe the bug**
NequIP calculator fails with `device='cuda'` but works with `device='cpu'`

**To Reproduce**
[code]

**Expected behavior**
Calculator works with either CUDA or CPU device

**Environment (please complete the following information):**
 - OS: CentOS
 - python version: 3.9
 - python environment (commands are given for python interpreter):
   - nequip 0.5.4
   - e3nn version 0.5.0

[2022-05-06 14:51] Linux-cpp-lisp commented on #209
See https://github.com/mir-group/nequip/issues/140, this is a PyTorch version issue solved by updating to >=1.10.

[2022-05-06 14:51] #209 closed

[2022-05-11 14:13] JonathanSchmidt1 opened #210 "Multi-GPU support exists❓ [QUESTION]"
We are interested in training nequip potentials on large datasets of several million structures.
Consequently we wanted to know whether multi-gpu support exists or if someone knows whether the networks can be integrated into pytorch lightning.
best regards and thank you very much,
Jonathan
Ps: this might be related to #126

[2022-05-12 20:35] Linux-cpp-lisp commented on #210
Hi @JonathanSchmidt1 ,

Thanks for your interest in our code/method for your project! Sounds like an interesting application; please feel free to get in touch by email and let us know how it's going (we're always interested to hear about what people are working on using our methods).

Re multi-GPU training: I have a draft branch [`horovod`](https://github.com/mir-group/nequip/tree/horovod) using t

[2022-05-12 21:56] Linux-cpp-lisp commented on #210
OK, I've merged the latest `develop` -> `horovod`, see https://github.com/mir-group/nequip/pull/211.

[2022-05-13 01:11] Linux-cpp-lisp commented on #210
If you try this, please run the Horovod unit tests `tests/integration/test_train_horovod.py` and confirm that they (1) are not skipped (i.e. horovod is installed) and (2) pass.

[2022-05-13 14:09] davidleocadio commented on #69
Hi @Linux-cpp-lisp . I've checked out the develop branch and tried calculating stress with two different methods, both giving me a **Key Error: 'stress'** suggesting stress isn't an available option. Could you point me on how to calculate stress with a NequIP calculator? The most straightforward way I've tried it, which I thought should work is

[code]

[2022-05-13 20:51] Linux-cpp-lisp commented on #69
@davidleocadio does your model include a `StressForceOutput`? The model must be built to calculate stresses for the calculator to be able to get those outputs.

[2022-05-17 09:31] davidleocadio commented on #69
@Linux-cpp-lisp great thanks. I wasn't aware of `minimal_stress.yaml.` However, I think the second option you mention where one uses the weights from a previously trained model would be very useful. Would you mind showing how one should do this?

[2022-05-17 20:11] Linux-cpp-lisp commented on #69
@davidleocadio it'll be something like this:

1. pull the latest `develop`--- I renamed something in `StressOutput` to make this more consistant going forward. (Warning: this will break loading models trained with `StressOutput` from before the change, but it's easy to fix if you need to--- let me know if you do.)
2. make a `my-model-with-stress.yaml` that is a copy of your original config file
3.

[2022-05-23 21:13] peastman opened #213 "🐛 [BUG] Cannot use training loss as metrics key"
**Describe the bug**
The example config file includes this line:

[code]

Following those instructions, I set the value to `train_loss`.  When I do, it fails with the exception

[code]

Apparently it actually wants the value to be `training_loss` instead of `train_loss`.  But when I change it to that, it fails with a different exception:

[code]

It seems that some parts of the code expect one and

[2022-05-23 22:04] peastman opened #214 "🐛 [BUG] Crash when using large dataset"
**Describe the bug**
I am trying to train a model on a large dataset with over 700,000 conformations for a diverse set of molecules.  I created a dataset in extxyz format as described at https://github.com/mir-group/nequip/issues/89.  The file is about 1.5 GB.  When I run `nequip-train`, it displays the message, "Processing...", shows no further output for about 20 minutes, and then exits with the

[2022-05-24 01:34] Linux-cpp-lisp commented on #213
Hi @peastman,

Thanks for the report--- this is a bug arising from an unsupported combination of options. (Using a training key for `metrics_key` errors out because the first evaluation of the un-trained model on the validation set before training counts as an "epoch" and is trying to access the non-existant `training_loss` to determine if it is the `best_model` so far.)

Set:
[code]
in your confi

[2022-05-24 01:38] #213 closed

[2022-05-24 01:45] Linux-cpp-lisp commented on #214
Hi @peastman ,

Please try the latest un-stable `develop` branch (**at least to pre-process your dataset, once it's cached you can go back and run trainings using stable 0.5.4**), which introduced streaming+multiprocessing for faster and more memory efficient `extxyz` dataset loading and pre-processing. This should resolve your issue, for more details please see https://github.com/mir-group/nequip

[2022-05-24 03:46] peastman commented on #214
I have the same problem with the `develop` branch.  It just happens a bit faster.  Here is what I observed monitoring the process with `top`.

Initially there were eight processes, all using equal amounts of CPU and memory.  Their memory gradually increased with time.  After about five minutes, the total memory in use reached about 29 GB.  At that point those processes started disappearing and the

[2022-05-24 03:47] peastman commented on #213
Thanks!  That works.

[2022-05-24 05:51] Linux-cpp-lisp commented on #214
...huh. Is your `r_max` very big or your atomic systems very dense? I'm struggling to see how 1.5GB of `.xyz` could get there...

You could try adding some `print` statements so we know where it fails at least... in `dataset.py` on `develop` I'd put ones before lines:
 - 952
 - 954
 - 284
You could also `breakpoint()` at 953 and go look at the temporary results from the workers in the temp filesys

[2022-05-26 00:43] peastman commented on #214
If I limit the dataset to 300,000 samples it works.  At 400,000 it crashes.

[2022-05-26 04:30] Linux-cpp-lisp commented on #214
OK yeah, back of the envelope that is just a lot of data (assuming all-to-all edges for 50, which is a bit of an exaggeration but probably not much at 10A, gives just for edges themselves: 50**2 edges * 2 int64/edge * 8 byte/int64 * 400k frames =~ 15GB).

Only `AtomicInMemoryDataset` assumes that everything is in-memory... the vast majority of `nequip` should work just fine with a custom subclass

[2022-05-26 04:40] peastman commented on #214
I implemented a HDF5 dataset format in TorchMD-Net as a way to support arbitrarily large datasets.  [The code to implement it](https://github.com/torchmd/torchmd-net/blob/main/torchmdnet/datasets/hdf.py) is very simple.  Paging data into memory is handled transparently and very efficiently.  Would you be interested in something like that?

[2022-05-30 16:59] Linux-cpp-lisp commented on #214
Hi @peastman ,

I'm suggesting that you write a new subclass of `AtomicDataset`. All datasets are expected to be subclasses of `AtomicDataset`, and arbitrary dataset classes with arbitrary `__init__` arguments can be built using:
[code]
where `MyDataset` has `__init__` arguments `option1` and `option2`.

I've made an example skeleton of a custom dataset here: https://github.com/mir-group/nequip/bl

[2022-06-01 04:47] Linux-cpp-lisp commented on #214
@peastman oh nice!

Yeah, the ASE neighborlists are not that fast... you could always try to play with the `dataloader_num_workers` YAML setting. I've never really used it set to anything but `0` (disabled) because on our cluster it would always hang with weird IPC problems, but in theory it should resolve this issue by making the neighborlists and the epoch steps run in parallel.

[2022-06-01 15:15] peastman commented on #214
Thanks for the tip.  That helps a little bit.  With `dataloader_num_workers: 3` I can get the GPU utilization up to around 55%.

[2022-06-25 15:43] emilannevelink opened #224 "🐛 [BUG] Different results when using model.train() and model.eval()"
**Describe the bug**
I have a trained nequip model and try to evaluate it but am getting a value quite different than I expected. After some debugging, I realized that I wasn't setting the model to evaluate. So, i realized that if the model is in the training mode I get a different value that if it is in evaluation mode.

**To Reproduce**
Minimal code to reproduce the behavior. Please be try to is

[2022-06-26 23:52] Linux-cpp-lisp commented on #224
Hi @emilannevelink ,

In `train` mode, the model is not rescaling its predictions into "real" (eV or kcal/mol etc.) units. The `RescaleEnergyEtc` block is disabled in training mode. This is because training in unscaled ("normalized") units is likely more numerically stable, among other reasons.

[2022-06-26 23:52] #224 closed

[2022-06-30 14:18] DuwYAnne opened #229 "🐛 [BUG] Issue with AtomicDataset process() function"
**Describe the bug**
When generating a dataset (in my case from npz), I get the following error message
[code]
With the following traceback
[code]

**To Reproduce**
All I need to reproduce is
[code]

**Expected behavior**
I expected the dataset to generate (maybe with some key errors, I'm not sure), but at least without an error such as this one.

**Environment (please complete the following infor

[2022-06-30 16:34] #229 closed

[2022-07-14 10:14] Linux-cpp-lisp commented on #92
FYI, this is now fixed--- models are now frozen right before they are used, and the `dtype` of a deployed model can be cast by doing something like:
[code]

[2022-07-16 15:03] JonathanSchmidt1 commented on #210
As usual, other things got in the way but I could finally test it.
Running tests/integration/test_train_horovod.py worked.
I also confirmed that the normal training on gpu worked (nequip-train configs/minimal.yaml).

Now if I run with --horovod the training of the first epoch seems fine but there is a problem with the metrics.
I checked the torch_runstats lib and could not find any get_state, are

[2022-07-16 16:19] Linux-cpp-lisp commented on #210
Hi @JonathanSchmidt1 ,

Surprised that the tests run if the training won't... that sounds like a sign that the tests are broken 😄

Whoops yes I forgot to mention, I haven't merged the code I was writing to enable multi-GPU training in `torch_runstats` yet; you can find it on the branch https://github.com/mir-group/pytorch_runstats/tree/state-reduce.

[2022-07-16 22:03] JonathanSchmidt1 commented on #210
Thank you that fixed it for one gpu.
horovodrun -np 1 nequip-train configs/example.yaml --horovod
works now.
If I use two gpus we get an error message as some tensors during the metric evaluation are on the wrong devices.
File "/raid/scratch/testuser/nequip/nequip/train/trainer.py", line 993, in epoch_step
[1,0]<stderr>:    self.metrics.gather()
[1,0]<stderr>:  File "/raid/scratch/testuser/nequip/

[2022-07-17 08:43] Linux-cpp-lisp commented on #210
Aha... here's that "this is very untested" 😁  I think PyTorch / Horovod may be too smart for its own good and reloading transmitted tensors onto different CUDA devices when they are all available to the same host... I will look into this when I get a chance.

[2022-07-17 19:00] JonathanSchmidt1 commented on #210
That would be great, I will also try to find the time to look into it but I think I will need some time to understand the whole codebase.

[2022-07-19 18:15] gshs12051 opened #230 "🐛 [BUG] Error during training with training set of different cell size"
**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - OS: [e.g. Ubuntu, Windows]
 - python version (`python --version`)
 - python environment (commands are given for python interpreter):
   - nequip version (`import nequip; nequip.__version__`)
   - e3nn version (`import e3nn; e3nn.__version__`)
   - p

[2022-07-19 18:19] Linux-cpp-lisp commented on #230
`NpzDataset`, and indeed the `npz` format from numpy itself, requires all arrays to be rectangular (i.e. all frames must have the same number of atoms). For variable number of atoms, and indeed most cases, we recommend using `dataset: ase` with the extxyz format.

See other discussions, for example:
 - https://github.com/mir-group/nequip/discussions/228
 - https://github.com/mir-group/nequip/discu

[2022-07-22 00:23] tgmaxson commented on #114
Is there any progress on merging this?  For my use case, I need stresses.  I will for now try to use the stress branch but it would be great to get this merged in if its working.

[2022-07-22 00:35] tgmaxson commented on #114
Nevermind it seems it has already been merged, how do I go about actually using evaluating the stresses and/or including them in to the loss function (forgive me if my terminology isn't exactly correct,  I haven't been using neural network based codes for too long).

[2022-07-25 20:43] Linux-cpp-lisp commented on #114
Hi @tgmaxson ,

Yes, this has been merged both into `develop` and `main` at this point.

See `configs/minimal_stress.yaml` for a basic example. Note that you can train on `virial` or `stress` depending on what is in your data, but **make sure your data's sign convention aligns with ours** (https://github.com/mir-group/nequip/blob/main/nequip/nn/_grad_output.py#L323-L326). Also be aware that becaus

[2022-07-25 20:43] #114 closed

[2022-07-28 03:33] NicholasHattrup opened #232 "Inconsistent runtime error when using a nequip model to preform Langevin Dynamics in ASE🐛 [BUG]"
**Describe the bug**
When running multiple dynamic runs using the nequip calculator for ASE I sometimes have trajectories crashing and giving the error below:
[code]

**To Reproduce**
Most recent nequip version with ASE and if needed I am happy to supply the deployed nequip model I am using. Besides that below is the code I am using to generate the Langevin class to run dynamics with:
[code]

**Ex

[2022-07-28 17:58] Linux-cpp-lisp commented on #232
Hi @NicholasHattrup ,

This error means that for the given system state and cutoff, every single atom has no neighbors. The vast majority of the time this is a sign that something is wrong (such as trying to set the cutoff in the wrong distance units), and so we made it an error.

What kind of system are you simulating, and have you checked the trajectories that throw this error? Do they look phys

[2022-08-01 17:25] emilannevelink opened #236 "🐛 [BUG] e3nn 0.3.5 may not be compatible with nequip 0.5.5"
**Describe the bug**
I just upgraded from nequip 0.5.3 to 0.5.5 and found that I was getting an error in `torch.einsum` in `e3nn.o3.Linear`.

Here is the error message
[code]

**To Reproduce**
initializing a model should throw the error

`model = nequip.model.model_from_config`

**Expected behavior**
No error

[2022-08-02 05:09] Linux-cpp-lisp commented on #236
This looks like a historical `e3nn` / `opt_einsum_fx` bug, see: https://github.com/e3nn/e3nn/issues/311 that intersects with the PyTorch version you have.  In general I think `nequip` 0.5.5 is still compatible with `e3nn` 0.3.5, but only when `e3nn` 0.3.5 is compatible with the installed PyTorch version.

In general, unless you are trying to recreate a previous environment for reproducing a result

[2022-08-05 02:25] choant opened #237 "❓ [QUESTION] About parity in irreducible representation"
For O(3) representation, parity variable is adopted which represents reflections.
From what I've understand, when we apply (x,y,z) |-> (-x,-y,-z) action to all coordinates, every parity of feature representations should change.
However, it seems `nequip.nn.embedding.SphericalHarmonicEdgeAttrs` always calculate edge attribute with fixed irreducible representations.
Could you explain more about it?

[2022-08-05 13:56] peterbjorgensen commented on #76
If you want a way faster replacement of ASE neighborlist, take a look at asap3, that is written in C++. I have used it in my DeepDFT package because the ASE one is too slow. The only thing it does not support is if the cutoff radius is larger than the cell height - then I fall back to the ASE neighborlist.

[2022-08-05 17:46] Linux-cpp-lisp commented on #237
Hi @choant ,

This is almost correct--- the key is that the parity in the _irrep_ does not describe the sign of the data itself, but rather how that sign should transform under inversions. The L=1 spherical harmonic, for example, is a vector and thus has odd parity (`-1`); this means that when you invert the input coordinates the sign of the L=1 tensor flips. What parity `-1` in the irrep signifie

[2022-08-05 23:31] Linux-cpp-lisp commented on #76
@peterbjorgensen thanks for the suggestion, I was not aware that `asap3` had a neighborlist as well. I have previously implemented but not merged such a use of an accelerated neighborlist for `nequip` using the optimized neighborlist from `freud`, which has the same limitation but I think also had certain issues with triclinic cells (I don't really remember why I didn't merge). You can see the cod

[2022-08-08 22:11] peastman commented on #76
NNPOps now has a neighbor list implementation that can be used in torchscript.

[2022-08-09 11:41] peterbjorgensen commented on #76
@peastman  But it seems like it does not support periodic boundary conditions?

[2022-08-09 14:42] peastman commented on #76
Not yet I guess.  It should be very easy to add.

cc @raimis

[2022-08-15 16:33] tgmaxson opened #241 "🐛 [BUG] GPU acceleration on NequIPCalculator"
**Describe the bug**
Something in the PyTorch script fails to compile when deploying the model with the "cuda" device and a call to "get_potential_energy" is made.

**To Reproduce**
[code]

**Expected behavior**
Use the GPU to do calculation

**Environment (please complete the following information):**
Linux
Python 3.9.13
NequIP 0.5.5
e3nn 0.5.0
PyTorch 1.9.1+cu111
Cuda 11.1
Running on A100 GPU

*

[2022-08-15 16:35] Linux-cpp-lisp commented on #241
Hi @tgmaxson ,

This is a known PyTorch issue resolved by updating, see:
 - https://github.com/mir-group/nequip/issues/209
 - https://github.com/mir-group/nequip/issues/140
and elsewhere.

[2022-08-15 16:35] #241 closed

[2022-08-18 14:09] raimis commented on #76
@peterbjorgensen would the PBC for an orthorombic box be enough? Or you want a general case?

[2022-08-18 14:26] peterbjorgensen commented on #76
@raimis Ideally it should work for a general unit cell and also support that only some of the dimensions are periodic (less important). Those features are supported by asap3 already.

[2022-09-12 15:50] RA-zoL opened #244 "❓ [QUESTION] How to perform transfer training with nequip?"
I have trained a nequip model M with a large dataset A. What can I do to make M also applicatable to a small but different dataset B? (except training a new model with A+B)

[2022-09-12 17:15] Linux-cpp-lisp commented on #244
See https://github.com/mir-group/nequip/discussions/235 for discussions on how to do fine-tuning (which seems to be what you are asking?) in `nequip`.

Note that if A and B are very different this might not work very well... in general I believe this is still an open questions for machine learning atomic systems. Please let us know if you find anything interesting!

In particular, do note that B c

[2022-09-13 01:06] RA-zoL commented on #244
Thank you very much! That is what I want.

[2022-09-13 01:06] #244 closed

[2022-10-10 12:47] felixmusil commented on #76
I implemented a [TorchScript-able neighbor list](https://github.com/felixmusil/torch_nl) recently that is as general as ASE's and it is somewhat faster. It might be useful while waiting for a general NNPOps implementation of this feature.

[2022-10-11 20:58] mkphuthi opened #255 "🐛 [BUG] Segfault with float64 models"
**Describe the bug**
Nequip models always segfault at prediction time when trained to float64 precision in ASE or LAMMPS on GPU and CPU

**To Reproduce**
[code]

Terminal output
[code]

**Expected behavior**
No segfault

**Environment (please complete the following information):**
 - OS: CentOS
 - python version: 3.9.0
 - python environment (commands are given for python interpreter):
   - nequip

[2022-10-13 03:13] Linux-cpp-lisp commented on #76
That's great! Thank you @felixmusil , very nice to have that available!

[2022-10-13 03:37] Linux-cpp-lisp commented on #255
Hi @mkphuthi ,

In ASE this is unexpected... I don't get a segfault when trained with `default_dtype: float64` added to `minimal.yaml` and then running:
[code]

This could be called a bug (maybe it should detect automatically and convert to float64, or at least try to set the global `set_default_dtype` like the other global settings), but it certainly isn't a segfault... is this only one particula

[2022-10-13 12:16] mkphuthi commented on #255
Setting the default dtype to float64 fixed it! The segfault has been there with every NequIP install I have tried so far. Strange.

[2022-10-13 16:10] Linux-cpp-lisp commented on #255
Weird... this should error out normally but at that point I'd attribute the problem to PyTorch. Is this all on the same machine, or across machines too that you see this?

Either way, glad that it is resolved. Can I close the issue then for the segfault?

[2022-10-14 16:25] mkphuthi commented on #255
Yes. I think we can close this issue

[2022-10-14 18:21] #255 closed

[2022-11-01 13:10] schiotz opened #260 "🐛 [BUG] Tutorial example runs infinitely"
**Describe the bug**
The tutorial colab example does not finish.  The training continues forever, I stopped it after 2000 epochs.

**To Reproduce**
Run the colab notebook referenced in https://github.com/mir-group/nequip#tutorial

**Expected behavior**
The training used to stop after 100 epocs, now it runs forever.

[2022-11-02 10:05] schiotz commented on #260
Note that it is simply the number of epochs in the example YAML file that has been changed from 100 to 100000 under the assumption that the training will converge.  That just does not seem to happen with the Toluene test example - either the potential continue to improve, or the convergence detection is not reliable.

[2022-11-04 08:48] mhellstr commented on #232
I ran into the same ValueError and noticed that it disappeared when I increased r_max. It would be great if the message was more helpful (f"Every single atom has no neighbors within the cutoff r_min: {r_min}")

[2022-11-04 22:57] paulelenord opened #261 "🐛 [BUG] lammps/build/lmp: No such file (tutorial)"
**Describe the bug**
In colab tutorial example running LAMMPS fails at finding ''../lammps/build/lmp'':
[code]

**To Reproduce**
Run the colab notebook with max_epochs 200

**Expected behavior**
LAMMPS runs

[2022-11-06 16:51] Linux-cpp-lisp commented on #261
Hi @paulelenord ,

Thanks for your interest in our code!

Are you sure you successfully finished running the first two cells of the tutorial, which compile LAMMPS? You can remove the `%%capture` line at the top of the cells if you want to see the output and check that they are working. Note that compiling LAMMPS in Colab can take some time, usually around 8 minutes depending on the hardware they a

[2022-11-06 16:55] Linux-cpp-lisp commented on #232
Hi @mhellstr ,

Good point--- changed on `develop`: https://github.com/mir-group/nequip/commit/da3e4bdf7ce9a25a1427f0efd15504dee71964df

[2022-11-07 09:55] IHumonen opened #262 "wrong ValueError text"
https://github.com/mir-group/nequip/blob/41d6b2d5a83a9c3d8f9803a802e9b44e7f8fe65f/nequip/train/trainer.py#L1180

This line should have n_val instead of n_train in the error text

[2022-11-07 16:52] fxcoudert opened #264 "🐛 [BUG] NotADirectoryError when attempting to run git"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

After compiling nequip 0.5.5 from source, when trying to use it we see this error:

[code]

This does not appear to depend on the details of the `config.yaml` file, any example from `nequip` itself will reproduce the issue.

The error is that `get_commit` calls `git` with a `cwd` set by appending `/..` to `

[2022-11-07 17:09] fxcoudert commented on #264
Ugly work-around: expand the `nequip-0.5.5-py3.8.egg` ZIP file into a directory of the same name at the same path.

[2022-11-07 21:09] Linux-cpp-lisp commented on #262
Hi @IHumonen ,

Thanks for catching this... fixed in https://github.com/mir-group/nequip/commit/bb2a1204c972cca9daed467a56236dc54aaf677b

[2022-11-07 21:09] #262 closed

[2022-11-07 21:20] Linux-cpp-lisp commented on #264
Hi @fxcoudert ,

Thanks for finding this issue, I think I should have resolved it in https://github.com/mir-group/nequip/commit/d090f3224b0150cd878dde62d6a03e8c01033f0c, but let me know. I've never seen this before since for some reason on my systems it never zips the `.egg`s as far as I can tell.

[2022-11-08 08:45] schiotz commented on #260
I am not sure, I did not look into it in detail.  The tutorial used to stop after 100 epochs, but it ran for almost 3000 epochs before I aborted it.  Which seems a bit much, so I suspect a bug, but as I do not know how early stopping is supposed to be triggered, I cannot say for sure.

In any case, for the tutorial it should probably stop after 100 steps as it used to, the tutorial is not really r

[2022-11-09 14:35] Linux-cpp-lisp commented on #232
Quoting the above,

But like I said if people need it I'm happy to make an option to suppress this error.

[2022-11-19 03:38] ZKC19940412 commented on #261
Hi, I ran into the same issues. It looks like on LAMMPS end, the stable version of lammps points to the one at June 2022, and it is somewhat incompatible with the complication with nequip.  It changed line of lammps complie such that it fetches the lammps at Sep 2021 and it seems to work for me consistently afterwards.

I also attached a png on how I modify the complie. Hope this helps.

Best,
Zek

[2022-11-21 19:38] Linux-cpp-lisp commented on #261
Hm yes it looks like some compatibility edits need to be made to the tutorial, thanks for the heads up! I'll get something updated up as soon as possible.

[2022-11-22 13:17] giotre opened #268 "❓ [QUESTION] CIF files & other target properties"
If this isn't an issue with the code or a request, please use our [GitHub Discussions](https://github.com/mir-group/nequip/discussions) instead.

I have a database of CIF files (i.e., multiple structures), so I have created a *.xyz  database in format *.extxyz, which, read in the Python notebook, appears like a list:
`[Atoms(symbols='CH3FI', pbc=False, forces=...)`,
 `Atoms(symbols='CH3FI', pbc=Fa

[2022-11-23 10:35] giotre commented on #268
Sorry, for the first part, I simply forgot to import chemical symbols in the *.yaml.
The other question remains.

[2022-11-28 01:38] Linux-cpp-lisp commented on #268
Hi @giotre ,

Thanks for your interest in our code!

Yes, that sounds correct— extxyz is our prefered input format and it supports arbitrary per-atom and per-graph fields. `nequip` supports arbitrary fields in datasets.

As to training on other targets, this is certainly possible but not really documented anywhere yet.  I think it would be best if I try to draft something more formal as soon as I